.hidden{
    display: none;
}
body{
    margin: 0;
    padding: 0;
    user-select: none;
}
.overview {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}
.statbox{
    background: #777;
    min-width: 14.5%;
    padding: 10px;
    border-radius: 6px;
    color: whitesmoke;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#recovered-box {
    background-image: linear-gradient(to right, #48d583,#1c7943);
}
#active-box {
    
    background-image: linear-gradient(to right,#2790d7,#175681);
}

#death-box {
    background-image: linear-gradient(to right,#4c6b8a,#1c2732);
}
#totaltests-box {
    background-image: linear-gradient(to right,#a265bb,#623475);
}
#permillion-box {
    background-image: linear-gradient(to right,#59bbd3,#3fb1cb);
}

#confirmed-box {
    background-image: linear-gradient(to right,#ca538b,#7f2750);
}
.main {
    max-width: 1300px;
    margin: 0 auto;   
}
figure{
    margin: 0;
}
.section-1 {
    width: 100%;
    display: flex;
    align-items: center;
}
.linediv { 
    flex-grow: 100;
}
.piediv { 
    width: 300px;
}
#container {
    height: 100vh;
}
text.highcharts-credits {
    display: none;
}
footer{
    background-color: #3498db;
    text-align: center;
    padding: 10px;
    color: #fff;
}
@media only screen and (max-width: 600px) {
    .section-1 {
        flex-direction: column;
    }
    .linediv { 
        width: 100%;
    }
    .overview {
        flex-direction: column;
    }
    .statbox {
        margin: 3px 10px;
        display: flex;
        justify-content: space-between;
    }
}