{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona India Live Updates</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.0.6">
    <style>
        table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 20px;
        }


        td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        }

        tr:nth-child(even) {
        background-color: #dddddd;
        }
    </style>
</head>
<body>
    <div class="main">
        <div class="overview">
            <div class="statbox" id="confirmed-box">
                <div class="left">
                    <div class="label">Confirmed</div>
                    <div class="percentage">{{dict.info.percentageconfirmed}}% &#8593;</div>
                </div><div class="right">
                    <div class="total">{{dict.info.confirmed}}</div>
                    <div class="increase">[+{{dict.info.diffconfirmed}}]</div>
                </div>
            </div>
            <div class="statbox" id="active-box">
                <div class="left">
                    <div class="label">Active</div>
                    <div class="percentage">{{dict.info.percentageactive}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.active}}</div>
                    <div class="increase">[+{{dict.info.diffactive}}]</div>
                </div>

            </div>
            <div class="statbox" id="recovered-box">
                <div class="left">
                    <div class="label">Recovered</div class="label">
                    <div class="percentage">{{dict.info.percentagerecovered}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.recovered}}</div>
                    <div class="increase">[+{{dict.info.diffrecovered}}]</div>
                </div>
            </div>
            <div class="statbox" id="death-box">
                <div class="left">
                    <div class="label">Death</div class="label">
                    <div class="percentage">{{dict.info.percentagedeath}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.death}}</div>
                    <div class="increase">[+{{dict.info.diffdeath}}]</div>
                </div>
            </div>
            <div class="statbox" id="totaltests-box">
                <div class="left">
                <div class="label">Tested<br>individuals</div>
                </div>
                <div class="right">
                <div class="total">34,931</div>
                </div>
            </div>
            <div class="statbox" id="permillion-box">
                <div class="left">
                <div class="label">Tests per million</div>
                </div>
                <div class="right">
                <div class="total">27</div>
                </div>
            </div>
        </div>
        <div class="section-1">
            <div class="linediv">
                <figure class="highcharts-line">
                    <div id="linecontainer"></div>
                </figure>
            </div>
            <div class="piediv">
                <figure class="highcharts-pie">
                    <div id='piecontainer'></div>
                </figure>
            </div>
        </div>
        <div class="section-2">
            <div>
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
        <div>
            <table id="statewise-table">
                <thead>
                    <tr>
                     <th>State</th>
                     <th>Confirmed</th>
                     <th>Active</th>
                     <th>Recovered</th>
                     <th>Death</th>
                   </tr>
                </thead>
                <tbody id='statewise-tbody'>
                </tbody>
            </table>
        </div>
    </div>
    <footer>
        <div>
            Let's fight Corona together!
        </div>
    </footer>
</body>
<script>
    var data = {{data}};
</script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script>


    var a=[];
    for(i=0;i<4;i++)
    {
        a[i]=data.days.confirmed[i];
    }
    for(i=4;i<data.days.confirmed.length;i++)
    {
        a[i] = (a[i-1]*0.16+a[i-1]);
    }
    for (let i in a) {
        a[i] = Math.ceil(a[i]);
    }
    

    for (i = 0; i < data.statewise.state.length; i++) 
    {
        var table=document.getElementById('statewise-tbody');
        var row=table.insertRow(i);
        var state=row.insertCell(0);
        var confirmed=row.insertCell(1)
        var active=row.insertCell(2);
        var recovered=row.insertCell(3);
        var death=row.insertCell(4);
        confirmed.innerHTML=data.statewise.confirmed[i];
        state.innerHTML=data.statewise.state[i];
        active.innerHTML=data.statewise.active[i];
        recovered.innerHTML=data.statewise.discharged[i];
        death.innerHTML=data.statewise.death[i]; 
    }
    Highcharts.chart('linecontainer', {
    chart: {
        type: 'area'
    },
    title: {
        text: 'Corona India Timeline',
        x:0,
        y:70,
        style: {
            color: '#333333',
            fontWeight: 'bold',
            fontSize:'18px'
        }
    },
    legend: {
        layout: 'vertical',
        align: 'left',
        verticalAlign: 'top',
        x: 150,
        y: 100,
        floating: true,
        borderWidth: 1,
        backgroundColor:
            Highcharts.defaultOptions.legend.backgroundColor || '#FFFFFF'
    },
    xAxis: {
        categories: data.days.date,
        plotBands: [{
            from: 23,
            to:data.days.date.length,
            color: 'rgba(68, 170, 213, .2)',
            label: { 
            text: '21 days lockdown', // Content of the label. 
            align: 'center', // Positioning of the label. 
            //Default to center. x: +10 // Amount of pixels the label will be repositioned according to the alignment. 
            }
        }]
    },
    yAxis: {
        title: {
            text: 'Cases'
        }
    },
    tooltip: {
        shared: true,
    },
    credits: {
        enabled: false
    },
    plotOptions: {
        area: {
            fillOpacity: 0.5,
            marker: {
                enabled: false,
                symbol: 'circle',
                radius: 2,
                states: {
                    hover: {
                        enabled: true
                    }
                }
            }
        },
    },
    series: [ {
        name: '15% increase daily',
        data: a,
        color: '#f7df1e'
    },
    {
        name: 'Confirmed Cases',
        data: data.days.confirmed,
        color: '#3498db'
    },
    {
        name: 'Recovered',
        data: data.days.recovered,
        color: '#27ae60'
    },
    {
        name: 'Deaths',
        data: data.days.death,
        color: '#34495e'
    }]
});
Highcharts.chart('piecontainer', {
    chart: {
        type: 'pie',
        height: 270
    },
    title: {
        text: data.info.confirmed+' cases',
        verticalAlign: 'middle',
        floating:true,
        x: 0,
        y: -10,
        style: {
            color: '#333333',
            fontWeight: 'bold',
            fontSize:'18px'
        }
    },
    plotOptions: {
        pie: {
            innerSize: 140,
            depth: 25,
            dataLabels: {
                enabled: false
            },
            showInLegend: true,
        }
    },
    series: [{
        type: 'pie',
        name: 'count',
        data: [
            {
                name: 'Active',
                y: data.info.active,
                color: '#3498db'
            },
            {
                name: 'Recovered',
                y: data.info.recovered,
                sliced: true,
                selected: true,
                color: '#2ecc71'
            },
            {
                name: 'Death',
                y: data.info.death,
                color: '#34495e'
            }
        ]
    }]
});

Highcharts.chart('container', {
    chart: {
        type: 'bar'
    },
    title: {
        text: 'Statewise Corona Cases',
        style: {
            color: '#333333',
            fontWeight: 'bold',
            fontSize:'18px'
        }
    },
    xAxis: {
        categories: data.statewise.state
    },
    yAxis: {
        min: 0,
        title: {
            text: 'Confirmed Cases'
        }

    },
    legend: {
        reversed: true
    },
    plotOptions: {
        series: {
            stacking: 'normal'
        }
    },
    series: [{
        name: 'Active',
        data: data.statewise.active,
        color: '#3498db'
    },{
        name: 'Recovered',
        data: data.statewise.discharged,
        color: '#2ecc71'
    }, {
        name: 'Death',
        data: data.statewise.death,
        color: '#34495e'
    }]
});
</script>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-66396003-2"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-66396003-2');
</script>
</html>
<!--compute={{compute}} from_cache={{from_cache}}-->