{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>  
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Corona India Live Updates</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.0.8">
</head>
<body>
    {% include "cards/overview.html" %}
    <div class="main">
        <div class="section-1">
                <div class="linediv">
                    <figure class="highcharts-line">
                        <div id="linecontainer"></div>
                            <!-- <div class="btn-section">
                                <button class="graphtype-btn" id="cumulative-btn" type="button" onclick="plotcumulativegraph()">Cumulative</button>
                                <button class="graphtype-btn" id="daily-btn" type="button" onclick="plotdailygraph()">Daily</button>
                            </div> -->
                    </figure>
                </div>
                <div class="piediv">
                    <figure class="highcharts-pie">
                        <div id='piecontainer'></div>
                    </figure>
                </div>
        </div>
        <div class="section-2">
            <div class="state-table">
                <table id="statewise-table">
                    <thead>
                        <tr>
                         <th>District</th>
                         <th>Confirmed</th>
                       </tr>
                    </thead>
                    <tbody id='statewise-tbody'>
                    </tbody>
                </table>
            </div>
            <div>
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </div>
{% include "cards/footer.html" %}
<script>
    for (i = 0; i < data.statewise.state.length; i++) 
    {
        var table=document.getElementById('statewise-tbody');
        var row=table.insertRow(i);
        var state=row.insertCell(0);
        var confirmed=row.insertCell(1)
        confirmed.innerHTML=data.statewise.active[i];
        state.innerHTML=data.statewise.state[i];
    }
</script>