{% load static %}
{% include "cards/header.html" %}
{% include "cards/overview.html" %}
    <div class="main">
        <div class="section-1">
                <div class="linediv">
                    <figure class="highcharts-line">
                        <div id="linecontainer"></div>
                            <!-- <div class="btn-section">
                                <button class="graphtype-btn" id="cumulative-btn" type="button" onclick="plotcumulativegraph()">Cumulative</button>
                                <button class="graphtype-btn" id="daily-btn" type="button" onclick="plotdailygraph()">Daily</button>
                            </div> -->
                    </figure>
                </div>
                <div class="piediv">
                    <figure class="highcharts-pie">
                        <div id='piecontainer'></div>
                    </figure>
                </div>
        </div>
        <div class="section-2">
            <div class="state-table">
                <table id="statewise-table">
                    <thead>
                        <tr>
                         <th>District</th>
                         <th>Confirmed</th>
                       </tr>
                    </thead>
                    <tbody id='statewise-tbody'>
                        {% for state in states %}
                            <tr>
                                {% if state.name == "Unknown"%}
                                <td title="districtwise information is yet to arrive">{{state.name}}</td>
                                {% else %}
                                <td>{{state.name}}</td>
                                {% endif %}
                                <td data-sort="{{state.confirmed}}">{{state.confirmed}} 
                                    {% if state.deltaconfirmed > 0 %} 
                                    <span class="deltaconfirmed">{{state.deltaconfirmed}} &#8593;</span>
                                    {% endif %}
                                </td >
                           </tr>
                        {% endfor %}                        
                    </tbody>
                </table>
            </div>
            <div>
                <figure class="highcharts-figure">
                    <div id="container"></div>
                </figure>
            </div>
        </div>
    </div>
{% include "cards/footer.html" %}
