{% load static %}
{% include "cards/header.html" %}
{% include "cards/overview.html" %}
    <div class="main mob-reverse">
        <div class="section-1">
            <div class="linediv">
                <figure class="highcharts-line">
                    <div id="linecontainer"></div>
                    <!-- <div class="btn-section hidden">
                        <button class="graphtype-btn" id="cumulative-btn" type="button" onclick="plotCumulativeGraph()">Cumulative</button>
                        <button class="graphtype-btn" id="daily-btn" type="button" onclick="plotDailyGraph()">Daily</button>
                    </div> -->
                </figure>
            </div>
            <div class="piediv">
                <figure class="highcharts-pie">
                    <div id='piecontainer'></div>
                </figure>
            </div>
        </div>
        <div class="section-2 mob-reverse">
            <div class="state-table">
                <div class="table-info">&#128070; Tap on state name for more info</div>
                {% include "cards/infotable.html" %}
            </div>
            <div id="india-map" class="india-map"></div>
        </div>
        <div class="statewise-timeline">
            <figure class="highcharts-figure">
                <div id="statetimeline-confirmed"></div>
            </figure>
        </div>

        <div>
            <figure class="highcharts-figure">
                <div id="container"></div>
            </figure>
        </div>
    </div>
{% include "cards/footer.html" %}