{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <title>Coronavirus {{type}} Live Updates</title>
    <meta name="title" content="Coronavirus {{type}} Live Updates">
    <meta name="description" content="Coronavirus {{type}} latest updates to track the spread of Coronavirus (COVID-19) in {{type}}">
    <meta name="keywords" content="coronavirus,corona,coronavirus {{type}},coronavirus {{type}} live,coronaindia,covid,covid19,pandemic,covidindia,{{type}},virus">
    <meta property="og:title" content="Coronavirus {{type}} Live Updates">
    <meta property="og:site_name" content="coronaindia.ml">
    <meta property="og:url" content={{url}}>
    <meta name="twitter:site" content="@coronaindia_ml">
    <meta name="twitter:creator" content="@coronaindia_ml">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="Coronavirus {{type}} Live Updates"/>
    <meta property="og:description" content="Coronavirus {{type}} latest updates to track the spread of Coronavirus (COVID-19) in {{type}}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://www.coronaindia.ml/static/images/ogimg.jpg">
    <meta property="twitter:description" content="Coronavirus {{type}} latest updates to track the spread of Coronavirus (COVID-19) in {{type}}">
    <meta name="twitter:image" content="https://www.coronaindia.ml/static/images/ogimg.jpg" />
    <meta name="robots" content="FOLLOW, INDEX"/>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=1.2.5">
</head>
<body>