<div class="grey-back">
    <div class="main">
        <div class="overview">
            <div class="statbox" id="confirmed-box">
                <div class="left">
                    <div class="label">Confirmed</div>
                    <div class="percentage">{{dict.info.percentageconfirmed}}% &#8593;</div>
                </div><div class="right">
                    <div class="total">{{dict.info.confirmed}}</div>
                    <div class="increase">[+{{dict.info.diffconfirmed}}]</div>
                </div>
            </div>
            <div class="statbox" id="active-box">
                <div class="left">
                    <div class="label">Active</div>
                    <div class="percentage">{{dict.info.percentageactive}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.active}}</div>
                    <div class="increase">[+{{dict.info.diffactive}}]</div>
                </div>
            </div>
            <div class="statbox" id="recovered-box">
                <div class="left">
                    <div class="label">Recovered</div>
                    <div class="percentage">{{dict.info.percentagerecovered}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.recovered}}</div>
                    <div class="increase">[+{{dict.info.diffrecovered}}]</div>
                </div>
            </div>
            <div class="statbox" id="death-box">
                <div class="left">
                    <div class="label">Death</div>
                    <div class="percentage">{{dict.info.percentagedeath}}% &#8593;</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.info.death}}</div>
                    <div class="increase">[+{{dict.info.diffdeath}}]</div>
                </div>
            </div>
            {% if dict.tests %}
            <div class="statbox" id="totaltests-box">
                <div class="left">
                    <div class="label">Tests</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.tests.samples}}</div>
                </div>
            </div>
            <div class="statbox" id="permillion-box">
                <div class="left">
                    <div class="label">Tests per million</div>
                </div>
                <div class="right">
                    <div class="total">{{dict.tests.perMillion}}</div>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>